<div>
  <form
  autocomplete="off" 
  #houseForm="ngForm" 
   >
     <div>
        <div>
            <mat-form-field >
              <input matInput 
                     placeholder="Address"
                     id="address" 
                    name="address" 
                    required
                    ngModel>
            </mat-form-field>
        </div>

        <app-nested-ng-form></app-nested-ng-form>
        <address></address>
        <div fxLayout="row" fxLayoutAlign="space-evenly end" >
            <div  fxFlex="20%">
                    <button
                    (click)="submitForm(houseForm.value, houseForm)"
                    mat-raised-button 
                    color="primary">
                     {{btnTxt}}
                  </button>

            </div>
            <div  fxFlex="20%">
                    <button 
                    (click)='closeModal()'
                    mat-raised-button 
                    color="secondary">
                     Cancel
                  </button>

            </div>
        </div>
  <pre>{{ houseForm.value | json }}</pre> <br><br>
     </div>
    </form>

</div>

<!-- <h2>Complex form with address component</h2>
<form #myForm="ngForm">
  <div>
    <label>Firstname:</label>
    <input type="text" name="firstName" ngModel>
  </div>
  <div>
    <label>Lastname:</label>
    <input type="text" name="lastName" ngModel>
  </div>
  <address></address>
</form>
<pre>{{ myForm.value | json }}</pre> -->